<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="friendbook">
    <meta name="keywords" content="friendbook">
    <meta name="author" content="friendbook">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <title>Friendbook</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Theme css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">

</head>

<body>



    <!-- section start -->
    <div class="coming-soon">
        <img src="../assets/images/breadcrumb.jpg" alt="" class="img-fluid blur-up lazyload blur-up lazyload bg-img">
        <div class="object">
            <div class="object-rope"></div>
            <div class="object-shape">
                Coming <span class="soon">Soon</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="m-auto col-lg-6">
                    <div class="coming-soon-detail">
                        <div>
                            <div class="logo">
                                <a href="#">
                                    <img src="../assets/images/icon/logo.png" alt="" class="img-fluid blur-up lazyload">
                                </a>
                            </div>
                            <h2>
                                Will be Opening Soon!
                            </h2>
                            <div class="timer">
                                <ul>
                                    <li><span id="days"></span>days</li>
                                    <li><span id="hours"></span>Hour</li>
                                    <li><span id="minutes"></span>min</li>
                                    <li><span id="seconds"></span>sec</li>
                                </ul>
                            </div>
                            <form action="#" class="theme-form">
                                <input type="text" name="password" placeholder="Enter your email" id="name"
                                    class="form-control" autofocus="">
                                <div class="col-md-12">
                                    <div class="actions">
                                        <button type="submit" class="btn btn-solid btn-theme-light">notify me</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animation-emoji">
            <ul class="circles">
                <li>
                    <img src="../assets/images/breadcrumb/1.png" class="img-fluid blur-up lazyload" alt="">
                </li>
                <li>
                    <img src="../assets/images/breadcrumb/2.png" class="img-fluid blur-up lazyload" alt="">
                </li>
                <li>
                    <img src="../assets/images/breadcrumb/3.png" class="img-fluid blur-up lazyload" alt="">
                </li>
                <li>
                    <img src="../assets/images/breadcrumb/4.png" class="img-fluid blur-up lazyload" alt="">
                </li>
                <li>
                    <img src="../assets/images/breadcrumb/5.png" class="img-fluid blur-up lazyload" alt="">
                </li>
                <li>
                    <img src="../assets/images/breadcrumb/6.png" class="img-fluid blur-up lazyload" alt="">
                </li>
                <li>
                    <img src="../assets/images/breadcrumb/7.png" class="img-fluid blur-up lazyload" alt="">
                </li>
                <li>
                    <img src="../assets/images/breadcrumb/8.png" class="img-fluid blur-up lazyload" alt="">
                </li>
                <li>
                    <img src="../assets/images/breadcrumb/9.png" class="img-fluid blur-up lazyload" alt="">
                </li>
            </ul>
        </div>
    </div>
    <!-- section end -->


    <!-- theme setting -->
    <div class="theme-settings">
        <div class="rtl-btn">
            <div class="theme-layout-version">RTL</div>
        </div>
        <div class="rtl-btn h-cls">
            <div class="dark-button">Dark</div>
        </div>
        <div class="pages">
            <a href="javascript:void(0)" onclick="openSetting()">
                <div class="theme-setting-sidebar" id="setting-icon">
                    <div>
                        pages
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id="setting_box" class="setting-box">
        <a href="javascript:void(0)" class="overlay" onclick="closeSetting()"></a>
        <div class="setting_box_body">
            <div onclick="closeSetting()">
                <div class="sidebar-back text-left"><i class="fa fa-angle-left pe-2" aria-hidden="true"></i> Back</div>
            </div>
            <div class="setting-body">
                <div class="setting-title">
                    <h4>Newsfeed Layout</h4>
                </div>
                <div class="setting-contant">
                    <div class="row demo-section">
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/1.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 1</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index.html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/2.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 2</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-2.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/3.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 3</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-3.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/4.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 4</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-4.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/5.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 5</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-5.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/6.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 6</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-6.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/7.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 7</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-7.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/8.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 8</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-8.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/9.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 9</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-9.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/10.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 10</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-10.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/11.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 11</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-11.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/newsfeed/12.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>style 12</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('index-12.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-title">
                    <h4>Profile Pages</h4>
                </div>
                <div class="setting-contant">
                    <div class="row demo-section">
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/profile/1.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>timeline</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('profile.html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/profile/2.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>about</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('profile-about.html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/profile/3.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>friends</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('profile-friends.html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/profile/4.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>gallery</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('profile-gallery.html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/profile/5.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>acitivity feed</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('profile-activityfeed.html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/profile/6.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>tab</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('profile-tab.html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/profile/7.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>friend profile</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('profile(friend).html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-title">
                    <h4>Favourite Page</h4>
                </div>
                <div class="setting-contant">
                    <div class="row demo-section">
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/favourite/1.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>page listing </h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('page-list.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/favourite/2.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>page home</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('single-page.html')"
                                            class="btn new-tab-btn">Preview</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/favourite/3.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>about</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('single-about.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/favourite/4.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>review</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('single-reviews.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/favourite/5.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>gallery</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('single-gallery.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/favourite/6.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>tab</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('page-tab.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-title">
                    <h4>other pages</h4>
                </div>
                <div class="setting-contant">
                    <div class="row demo-section">
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/events.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>event & calendar</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('event.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/birthday.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>Birthday</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('birthday.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/weather.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>weather</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('weather.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/music.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>Music</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('music.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/events.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>games</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('games.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/login.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>login </h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('login.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/register.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>register</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('register.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/help.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>help & support</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('help-support.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/messanger.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>messanger</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('messanger.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/setting.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>setting</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('settings.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/other/help.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>help article</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('help-article.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-title">
                    <h4>Company Pages</h4>
                </div>
                <div class="setting-contant">
                    <div class="row demo-section">
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/home.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>Home</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('company-home.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/about.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>About</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('about-us.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/blog.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>Blog</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('blog.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/blog-details.jpg"
                                        class="bg-img blur-up lazyload" alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>Blog details</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('blog-details.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/faq.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>FAQ</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('faq.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/career.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>Career</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('career.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/career-details.jpg"
                                        class="bg-img blur-up lazyload" alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>Career details</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('career-details.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/coming-soon.jpg"
                                        class="bg-img blur-up lazyload" alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>coming soon</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('coming-soon.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/company/404.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>404</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('404.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-title">
                    <h4>Element Pages</h4>
                </div>
                <div class="setting-contant">
                    <div class="row demo-section">
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/element/typography.jpg"
                                        class="bg-img blur-up lazyload" alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>typography</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('typography.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/element/widget.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>sidebar widgets</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('sidebar-widgets.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/element/calendar.jpg"
                                        class="bg-img blur-up lazyload" alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>calender</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('element-event-calendar.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/element/map.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>maps</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('element-map.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/element/icons.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>icons</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('icons.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/element/modal.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>modal</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('element-modal.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12 text-center demo-effects">
                            <div class="set-position">
                                <div class="layout-container">
                                    <img src="../assets/images/demo/element/buttons.jpg" class="bg-img blur-up lazyload"
                                        alt="">
                                </div>
                                <div class="demo-text">
                                    <h4>buttons</h4>
                                    <div class="btn-group demo-btn" role="group" aria-label="Basic example"> <button
                                            type="button" onClick="window.open('element-button.html')"
                                            class="btn new-tab-btn">Preview</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buy_btn">
                    <a href="#" target="_blank" class="btn btn-block btn-solid ">purchase Friendbook now!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- theme setting -->


    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js "></script>

    <!-- popper js-->
    <script src="../assets/js/popper.min.js "></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather.min.js "></script>

    <!-- feather icon js-->
    <script src="../assets/js/timer.js "></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap.js "></script>

    <!-- lazyload js-->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- theme setting js-->
    <script src="../assets/js/theme-setting.js"></script>

    <!-- Theme js-->
    <script src="../assets/js/script.js "></script>

    <script>
        feather.replace();
    </script>

</body>

</html>